.navbar{
padding: 2rem;
background-color: #f5f6f7 ;

}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}



/* estilos generales */
section{

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

h1{

    font-size: 2.0rem;

}

.seccion-oscura{
color:white;
background-color:#181827 ;
}

.seccion-clara{

color: black;
background-color: white;
}


.seccion-titulo{
    font-size: 2rem;
    padding: 15px 0;
    font-family:'Sixtyfour', sans-serif ;
}

.seccion-texto {
font-size: 1.2rem;

}
/* secction hero */

.hero{
background-color: #f5f6f7;
min-height: 450px;
text-align: center;

}


.hero-principal {
    padding: 3rem;
}



.hero-imagen-desarrollador{
 
    width: 170px;
    height: 220px;
    margin: 20px;

}


.hero-principal h2{

font-size: 1.5rem;
color: #615151;
font-family: 'Sixtyfour', sans-serif;


}








@media  screen and (max-width:767px) {
    .navbar-brand{
        display: none;
    }
}


/* Sobre Stocks */

.sobre-stocks{
    height: 500px;
    padding: 10px;
}


.sobre-stocks .contenedor{
    max-width: 600px;
    text-align: center;
}


/* Experiencia */

.experiencia{

    padding: 40px 40px 60px 40px;
    
    }


.experiencia .row div{

height:260px; 


}


.experiencia i{
    font-size: 2.0rem;
    color: #7ade30;
    background-color: black;
    padding: 10px 20px;
    border-radius:50%;
}

.experiencia-titulo{

    font-size: 18px;
    font-family: 'Sixtyfour', sans-serif;
    margin: 8px 0;
}


.contacto i{

    font-size: 2rem;
}


.contacto a{
margin-top: 30px;
position: relative;
left: 10px;





}


.week{
    font-family: "Jersey 20 Charted", sans-serif;


}